@charset "UTF-8";
/**
 * Included Files
 * =============================================================================
 */
.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0; }

.clearfix, #main {
  *zoom: 1; }
  .clearfix::before, #main::before, .clearfix::after, #main::after {
    content: " ";
    display: table; }
  .clearfix::after, #main::after {
    clear: both; }

#banner a,
.widget-area a,
button a, .pagination li a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit; }
  #banner a:focus,
  .widget-area a:focus,
  button a:focus, .pagination li a:focus {
    outline: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

#content .entry-content, #comments .comment {
  line-height: 150%; }
  #content .entry-content a, #comments .comment a {
    word-break: break-word; }

/**
 * Reset Sheet
 * =============================================================================
 */
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/**
 * General
 */
body, html {
  width: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  list-style: none; }

img {
  outline: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/**
 * Links
 */
a {
  outline: none; }
  a:active, a:hover {
    outline: 0; }
  a:focus {
    outline: thin dotted; }

/**
 * Forms
 */
button {
  cursor: pointer;
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

input[type="search"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  line-height: normal; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

::-ms-clear {
  display: none; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

@-ms-viewport {
  width: device-width; }

/**
 * Wordpress Thing
 */
p:empty {
  display: none; }

/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  animation: fa-spin 1s infinite steps(8); }

@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-genderless:before,
.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  width: 100%; }

.group {
  display: -ms-flexbox;
  display: flex; }

.group-row {
  -ms-flex-direction: row;
      flex-direction: row; }

.group-row-reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }

.group-column {
  -ms-flex-direction: column;
      flex-direction: column; }

.group-column-reverse {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }

.group-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.group-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.group-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

.group-content-flex-start {
  -ms-flex-pack: start;
      justify-content: flex-start; }

.group-content-flex-end {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.group-content-center {
  -ms-flex-pack: center;
      justify-content: center; }

.group-content-space-between {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.group-content-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.group-flex-start {
  -ms-flex-align: start;
      align-items: flex-start; }

.group-flex-end {
  -ms-flex-align: end;
      align-items: flex-end; }

.group-center {
  -ms-flex-align: center;
      align-items: center; }

.group-baseline {
  -ms-flex-align: baseline;
      align-items: baseline; }

.group-stretch {
  -ms-flex-align: stretch;
      align-items: stretch; }

.group-align-content-flex-start {
  -ms-flex-align: start;
      align-items: flex-start; }

.group-align-content-flex-end {
  -ms-flex-align: end;
      align-items: flex-end; }

.group-align-content-center {
  -ms-flex-align: center;
      align-items: center; }

.group-align-content-baseline {
  -ms-flex-align: baseline;
      align-items: baseline; }

.group-align-content-stretch {
  -ms-flex-align: stretch;
      align-items: stretch; }

.el-first {
  -ms-flex-order: 1;
      order: 1; }

.el-second {
  -ms-flex-order: 2;
      order: 2; }

.el-third {
  -ms-flex-order: 3;
      order: 3; }

.el-last {
  -ms-flex-order: 999;
      order: 999; }

.el-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto; }

.el-flex-start {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.el-flex-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.el-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.el-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline; }

.el-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch; }

[class*="el-xs-"],
[class*="el-sm-"],
[class*="el-md-"],
[class*="el-lg-"] {
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
  position: relative; }

.el-xs-1 {
  width: 8.33333%; }

.el-xs-pull-1 {
  right: 8.33333%; }

.el-xs-push-1 {
  left: 8.33333%; }

.el-xs-offset-1 {
  margin-left: 8.33333%; }

.el-xs-suffix-1 {
  margin-right: 8.33333%; }

.el-xs-2 {
  width: 16.66667%; }

.el-xs-pull-2 {
  right: 16.66667%; }

.el-xs-push-2 {
  left: 16.66667%; }

.el-xs-offset-2 {
  margin-left: 16.66667%; }

.el-xs-suffix-2 {
  margin-right: 16.66667%; }

.el-xs-3 {
  width: 25%; }

.el-xs-pull-3 {
  right: 25%; }

.el-xs-push-3 {
  left: 25%; }

.el-xs-offset-3 {
  margin-left: 25%; }

.el-xs-suffix-3 {
  margin-right: 25%; }

.el-xs-4 {
  width: 33.33333%; }

.el-xs-pull-4 {
  right: 33.33333%; }

.el-xs-push-4 {
  left: 33.33333%; }

.el-xs-offset-4 {
  margin-left: 33.33333%; }

.el-xs-suffix-4 {
  margin-right: 33.33333%; }

.el-xs-5 {
  width: 41.66667%; }

.el-xs-pull-5 {
  right: 41.66667%; }

.el-xs-push-5 {
  left: 41.66667%; }

.el-xs-offset-5 {
  margin-left: 41.66667%; }

.el-xs-suffix-5 {
  margin-right: 41.66667%; }

.el-xs-6 {
  width: 50%; }

.el-xs-pull-6 {
  right: 50%; }

.el-xs-push-6 {
  left: 50%; }

.el-xs-offset-6 {
  margin-left: 50%; }

.el-xs-suffix-6 {
  margin-right: 50%; }

.el-xs-7 {
  width: 58.33333%; }

.el-xs-pull-7 {
  right: 58.33333%; }

.el-xs-push-7 {
  left: 58.33333%; }

.el-xs-offset-7 {
  margin-left: 58.33333%; }

.el-xs-suffix-7 {
  margin-right: 58.33333%; }

.el-xs-8 {
  width: 66.66667%; }

.el-xs-pull-8 {
  right: 66.66667%; }

.el-xs-push-8 {
  left: 66.66667%; }

.el-xs-offset-8 {
  margin-left: 66.66667%; }

.el-xs-suffix-8 {
  margin-right: 66.66667%; }

.el-xs-9 {
  width: 75%; }

.el-xs-pull-9 {
  right: 75%; }

.el-xs-push-9 {
  left: 75%; }

.el-xs-offset-9 {
  margin-left: 75%; }

.el-xs-suffix-9 {
  margin-right: 75%; }

.el-xs-10 {
  width: 83.33333%; }

.el-xs-pull-10 {
  right: 83.33333%; }

.el-xs-push-10 {
  left: 83.33333%; }

.el-xs-offset-10 {
  margin-left: 83.33333%; }

.el-xs-suffix-10 {
  margin-right: 83.33333%; }

.el-xs-11 {
  width: 91.66667%; }

.el-xs-pull-11 {
  right: 91.66667%; }

.el-xs-push-11 {
  left: 91.66667%; }

.el-xs-offset-11 {
  margin-left: 91.66667%; }

.el-xs-suffix-11 {
  margin-right: 91.66667%; }

.el-xs-12 {
  width: 100%; }

.el-xs-pull-12 {
  right: 100%; }

.el-xs-push-12 {
  left: 100%; }

.el-xs-offset-12 {
  margin-left: 100%; }

.el-xs-suffix-12 {
  margin-right: 100%; }

@media (min-width: 780px) {
  .group-sm-row {
    -ms-flex-direction: row;
        flex-direction: row; }
  .group-sm-row-reverse {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
  .group-sm-column {
    -ms-flex-direction: column;
        flex-direction: column; }
  .group-sm-column-reverse {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
  .group-sm-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .group-sm-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .group-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse; }
  .group-sm-content-flex-start {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .group-sm-content-flex-end {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .group-sm-content-center {
    -ms-flex-pack: center;
        justify-content: center; }
  .group-sm-content-space-between {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .group-sm-content-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .group-sm-flex-start {
    -ms-flex-align: start;
        align-items: flex-start; }
  .group-sm-flex-end {
    -ms-flex-align: end;
        align-items: flex-end; }
  .group-sm-center {
    -ms-flex-align: center;
        align-items: center; }
  .group-sm-baseline {
    -ms-flex-align: baseline;
        align-items: baseline; }
  .group-sm-stretch {
    -ms-flex-align: stretch;
        align-items: stretch; }
  .group-sm-align-content-flex-start {
    -ms-flex-align: start;
        align-items: flex-start; }
  .group-sm-align-content-flex-end {
    -ms-flex-align: end;
        align-items: flex-end; }
  .group-sm-align-content-center {
    -ms-flex-align: center;
        align-items: center; }
  .group-sm-align-content-baseline {
    -ms-flex-align: baseline;
        align-items: baseline; }
  .group-sm-align-content-stretch {
    -ms-flex-align: stretch;
        align-items: stretch; }
  .el-sm-first {
    -ms-flex-order: 1;
        order: 1; }
  .el-sm-second {
    -ms-flex-order: 2;
        order: 2; }
  .el-sm-third {
    -ms-flex-order: 3;
        order: 3; }
  .el-sm-last {
    -ms-flex-order: 999;
        order: 999; }
  .el-sm-auto {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto; }
  .el-sm-flex-start {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .el-sm-flex-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .el-sm-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .el-sm-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline; }
  .el-sm-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch; }
  .text-sm-center {
    text-align: center; }
  .text-sm-left {
    text-align: left; }
  .text-sm-right {
    text-align: right; }
  .el-sm-1 {
    width: 8.33333%; }
  .el-sm-pull-1 {
    right: 8.33333%; }
  .el-sm-push-1 {
    left: 8.33333%; }
  .el-sm-offset-1 {
    margin-left: 8.33333%; }
  .el-sm-suffix-1 {
    margin-right: 8.33333%; }
  .el-sm-2 {
    width: 16.66667%; }
  .el-sm-pull-2 {
    right: 16.66667%; }
  .el-sm-push-2 {
    left: 16.66667%; }
  .el-sm-offset-2 {
    margin-left: 16.66667%; }
  .el-sm-suffix-2 {
    margin-right: 16.66667%; }
  .el-sm-3 {
    width: 25%; }
  .el-sm-pull-3 {
    right: 25%; }
  .el-sm-push-3 {
    left: 25%; }
  .el-sm-offset-3 {
    margin-left: 25%; }
  .el-sm-suffix-3 {
    margin-right: 25%; }
  .el-sm-4 {
    width: 33.33333%; }
  .el-sm-pull-4 {
    right: 33.33333%; }
  .el-sm-push-4 {
    left: 33.33333%; }
  .el-sm-offset-4 {
    margin-left: 33.33333%; }
  .el-sm-suffix-4 {
    margin-right: 33.33333%; }
  .el-sm-5 {
    width: 41.66667%; }
  .el-sm-pull-5 {
    right: 41.66667%; }
  .el-sm-push-5 {
    left: 41.66667%; }
  .el-sm-offset-5 {
    margin-left: 41.66667%; }
  .el-sm-suffix-5 {
    margin-right: 41.66667%; }
  .el-sm-6 {
    width: 50%; }
  .el-sm-pull-6 {
    right: 50%; }
  .el-sm-push-6 {
    left: 50%; }
  .el-sm-offset-6 {
    margin-left: 50%; }
  .el-sm-suffix-6 {
    margin-right: 50%; }
  .el-sm-7 {
    width: 58.33333%; }
  .el-sm-pull-7 {
    right: 58.33333%; }
  .el-sm-push-7 {
    left: 58.33333%; }
  .el-sm-offset-7 {
    margin-left: 58.33333%; }
  .el-sm-suffix-7 {
    margin-right: 58.33333%; }
  .el-sm-8 {
    width: 66.66667%; }
  .el-sm-pull-8 {
    right: 66.66667%; }
  .el-sm-push-8 {
    left: 66.66667%; }
  .el-sm-offset-8 {
    margin-left: 66.66667%; }
  .el-sm-suffix-8 {
    margin-right: 66.66667%; }
  .el-sm-9 {
    width: 75%; }
  .el-sm-pull-9 {
    right: 75%; }
  .el-sm-push-9 {
    left: 75%; }
  .el-sm-offset-9 {
    margin-left: 75%; }
  .el-sm-suffix-9 {
    margin-right: 75%; }
  .el-sm-10 {
    width: 83.33333%; }
  .el-sm-pull-10 {
    right: 83.33333%; }
  .el-sm-push-10 {
    left: 83.33333%; }
  .el-sm-offset-10 {
    margin-left: 83.33333%; }
  .el-sm-suffix-10 {
    margin-right: 83.33333%; }
  .el-sm-11 {
    width: 91.66667%; }
  .el-sm-pull-11 {
    right: 91.66667%; }
  .el-sm-push-11 {
    left: 91.66667%; }
  .el-sm-offset-11 {
    margin-left: 91.66667%; }
  .el-sm-suffix-11 {
    margin-right: 91.66667%; }
  .el-sm-12 {
    width: 100%; }
  .el-sm-pull-12 {
    right: 100%; }
  .el-sm-push-12 {
    left: 100%; }
  .el-sm-offset-12 {
    margin-left: 100%; }
  .el-sm-suffix-12 {
    margin-right: 100%; } }

@media (min-width: 1020px) {
  .group-md-row {
    -ms-flex-direction: row;
        flex-direction: row; }
  .group-md-row-reverse {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
  .group-md-column {
    -ms-flex-direction: column;
        flex-direction: column; }
  .group-md-column-reverse {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
  .group-md-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .group-md-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .group-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse; }
  .group-md-content-flex-start {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .group-md-content-flex-end {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .group-md-content-center {
    -ms-flex-pack: center;
        justify-content: center; }
  .group-md-content-space-between {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .group-md-content-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .group-md-flex-start {
    -ms-flex-align: start;
        align-items: flex-start; }
  .group-md-flex-end {
    -ms-flex-align: end;
        align-items: flex-end; }
  .group-md-center {
    -ms-flex-align: center;
        align-items: center; }
  .group-md-baseline {
    -ms-flex-align: baseline;
        align-items: baseline; }
  .group-md-stretch {
    -ms-flex-align: stretch;
        align-items: stretch; }
  .group-md-align-content-flex-start {
    -ms-flex-align: start;
        align-items: flex-start; }
  .group-md-align-content-flex-end {
    -ms-flex-align: end;
        align-items: flex-end; }
  .group-md-align-content-center {
    -ms-flex-align: center;
        align-items: center; }
  .group-md-align-content-baseline {
    -ms-flex-align: baseline;
        align-items: baseline; }
  .group-md-align-content-stretch {
    -ms-flex-align: stretch;
        align-items: stretch; }
  .el-md-first {
    -ms-flex-order: 1;
        order: 1; }
  .el-md-second {
    -ms-flex-order: 2;
        order: 2; }
  .el-md-third {
    -ms-flex-order: 3;
        order: 3; }
  .el-md-last {
    -ms-flex-order: 999;
        order: 999; }
  .el-md-auto {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto; }
  .el-md-flex-start {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .el-md-flex-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .el-md-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .el-md-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline; }
  .el-md-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch; }
  .text-md-center {
    text-align: center; }
  .text-md-left {
    text-align: left; }
  .text-md-right {
    text-align: right; }
  .el-md-1 {
    width: 8.33333%; }
  .el-md-pull-1 {
    right: 8.33333%; }
  .el-md-push-1 {
    left: 8.33333%; }
  .el-md-offset-1 {
    margin-left: 8.33333%; }
  .el-md-suffix-1 {
    margin-right: 8.33333%; }
  .el-md-2 {
    width: 16.66667%; }
  .el-md-pull-2 {
    right: 16.66667%; }
  .el-md-push-2 {
    left: 16.66667%; }
  .el-md-offset-2 {
    margin-left: 16.66667%; }
  .el-md-suffix-2 {
    margin-right: 16.66667%; }
  .el-md-3 {
    width: 25%; }
  .el-md-pull-3 {
    right: 25%; }
  .el-md-push-3 {
    left: 25%; }
  .el-md-offset-3 {
    margin-left: 25%; }
  .el-md-suffix-3 {
    margin-right: 25%; }
  .el-md-4 {
    width: 33.33333%; }
  .el-md-pull-4 {
    right: 33.33333%; }
  .el-md-push-4 {
    left: 33.33333%; }
  .el-md-offset-4 {
    margin-left: 33.33333%; }
  .el-md-suffix-4 {
    margin-right: 33.33333%; }
  .el-md-5 {
    width: 41.66667%; }
  .el-md-pull-5 {
    right: 41.66667%; }
  .el-md-push-5 {
    left: 41.66667%; }
  .el-md-offset-5 {
    margin-left: 41.66667%; }
  .el-md-suffix-5 {
    margin-right: 41.66667%; }
  .el-md-6 {
    width: 50%; }
  .el-md-pull-6 {
    right: 50%; }
  .el-md-push-6 {
    left: 50%; }
  .el-md-offset-6 {
    margin-left: 50%; }
  .el-md-suffix-6 {
    margin-right: 50%; }
  .el-md-7 {
    width: 58.33333%; }
  .el-md-pull-7 {
    right: 58.33333%; }
  .el-md-push-7 {
    left: 58.33333%; }
  .el-md-offset-7 {
    margin-left: 58.33333%; }
  .el-md-suffix-7 {
    margin-right: 58.33333%; }
  .el-md-8 {
    width: 66.66667%; }
  .el-md-pull-8 {
    right: 66.66667%; }
  .el-md-push-8 {
    left: 66.66667%; }
  .el-md-offset-8 {
    margin-left: 66.66667%; }
  .el-md-suffix-8 {
    margin-right: 66.66667%; }
  .el-md-9 {
    width: 75%; }
  .el-md-pull-9 {
    right: 75%; }
  .el-md-push-9 {
    left: 75%; }
  .el-md-offset-9 {
    margin-left: 75%; }
  .el-md-suffix-9 {
    margin-right: 75%; }
  .el-md-10 {
    width: 83.33333%; }
  .el-md-pull-10 {
    right: 83.33333%; }
  .el-md-push-10 {
    left: 83.33333%; }
  .el-md-offset-10 {
    margin-left: 83.33333%; }
  .el-md-suffix-10 {
    margin-right: 83.33333%; }
  .el-md-11 {
    width: 91.66667%; }
  .el-md-pull-11 {
    right: 91.66667%; }
  .el-md-push-11 {
    left: 91.66667%; }
  .el-md-offset-11 {
    margin-left: 91.66667%; }
  .el-md-suffix-11 {
    margin-right: 91.66667%; }
  .el-md-12 {
    width: 100%; }
  .el-md-pull-12 {
    right: 100%; }
  .el-md-push-12 {
    left: 100%; }
  .el-md-offset-12 {
    margin-left: 100%; }
  .el-md-suffix-12 {
    margin-right: 100%; } }

@media (min-width: 1440px) {
  .group-lg-row {
    -ms-flex-direction: row;
        flex-direction: row; }
  .group-lg-row-reverse {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
  .group-lg-column {
    -ms-flex-direction: column;
        flex-direction: column; }
  .group-lg-column-reverse {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
  .group-lg-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .group-lg-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .group-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse; }
  .group-lg-content-flex-start {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .group-lg-content-flex-end {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .group-lg-content-center {
    -ms-flex-pack: center;
        justify-content: center; }
  .group-lg-content-space-between {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .group-lg-content-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .group-lg-flex-start {
    -ms-flex-align: start;
        align-items: flex-start; }
  .group-lg-flex-end {
    -ms-flex-align: end;
        align-items: flex-end; }
  .group-lg-center {
    -ms-flex-align: center;
        align-items: center; }
  .group-lg-baseline {
    -ms-flex-align: baseline;
        align-items: baseline; }
  .group-lg-stretch {
    -ms-flex-align: stretch;
        align-items: stretch; }
  .group-lg-align-content-flex-start {
    -ms-flex-align: start;
        align-items: flex-start; }
  .group-lg-align-content-flex-end {
    -ms-flex-align: end;
        align-items: flex-end; }
  .group-lg-align-content-center {
    -ms-flex-align: center;
        align-items: center; }
  .group-lg-align-content-baseline {
    -ms-flex-align: baseline;
        align-items: baseline; }
  .group-lg-align-content-stretch {
    -ms-flex-align: stretch;
        align-items: stretch; }
  .el-lg-first {
    -ms-flex-order: 1;
        order: 1; }
  .el-lg-second {
    -ms-flex-order: 2;
        order: 2; }
  .el-lg-third {
    -ms-flex-order: 3;
        order: 3; }
  .el-lg-last {
    -ms-flex-order: 999;
        order: 999; }
  .el-lg-auto {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto; }
  .el-lg-flex-start {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .el-lg-flex-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .el-lg-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .el-lg-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline; }
  .el-lg-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch; }
  .text-lg-center {
    text-align: center; }
  .text-lg-left {
    text-align: left; }
  .text-lg-right {
    text-align: right; }
  .el-lg-1 {
    width: 8.33333%; }
  .el-lg-pull-1 {
    right: 8.33333%; }
  .el-lg-push-1 {
    left: 8.33333%; }
  .el-lg-offset-1 {
    margin-left: 8.33333%; }
  .el-lg-suffix-1 {
    margin-right: 8.33333%; }
  .el-lg-2 {
    width: 16.66667%; }
  .el-lg-pull-2 {
    right: 16.66667%; }
  .el-lg-push-2 {
    left: 16.66667%; }
  .el-lg-offset-2 {
    margin-left: 16.66667%; }
  .el-lg-suffix-2 {
    margin-right: 16.66667%; }
  .el-lg-3 {
    width: 25%; }
  .el-lg-pull-3 {
    right: 25%; }
  .el-lg-push-3 {
    left: 25%; }
  .el-lg-offset-3 {
    margin-left: 25%; }
  .el-lg-suffix-3 {
    margin-right: 25%; }
  .el-lg-4 {
    width: 33.33333%; }
  .el-lg-pull-4 {
    right: 33.33333%; }
  .el-lg-push-4 {
    left: 33.33333%; }
  .el-lg-offset-4 {
    margin-left: 33.33333%; }
  .el-lg-suffix-4 {
    margin-right: 33.33333%; }
  .el-lg-5 {
    width: 41.66667%; }
  .el-lg-pull-5 {
    right: 41.66667%; }
  .el-lg-push-5 {
    left: 41.66667%; }
  .el-lg-offset-5 {
    margin-left: 41.66667%; }
  .el-lg-suffix-5 {
    margin-right: 41.66667%; }
  .el-lg-6 {
    width: 50%; }
  .el-lg-pull-6 {
    right: 50%; }
  .el-lg-push-6 {
    left: 50%; }
  .el-lg-offset-6 {
    margin-left: 50%; }
  .el-lg-suffix-6 {
    margin-right: 50%; }
  .el-lg-7 {
    width: 58.33333%; }
  .el-lg-pull-7 {
    right: 58.33333%; }
  .el-lg-push-7 {
    left: 58.33333%; }
  .el-lg-offset-7 {
    margin-left: 58.33333%; }
  .el-lg-suffix-7 {
    margin-right: 58.33333%; }
  .el-lg-8 {
    width: 66.66667%; }
  .el-lg-pull-8 {
    right: 66.66667%; }
  .el-lg-push-8 {
    left: 66.66667%; }
  .el-lg-offset-8 {
    margin-left: 66.66667%; }
  .el-lg-suffix-8 {
    margin-right: 66.66667%; }
  .el-lg-9 {
    width: 75%; }
  .el-lg-pull-9 {
    right: 75%; }
  .el-lg-push-9 {
    left: 75%; }
  .el-lg-offset-9 {
    margin-left: 75%; }
  .el-lg-suffix-9 {
    margin-right: 75%; }
  .el-lg-10 {
    width: 83.33333%; }
  .el-lg-pull-10 {
    right: 83.33333%; }
  .el-lg-push-10 {
    left: 83.33333%; }
  .el-lg-offset-10 {
    margin-left: 83.33333%; }
  .el-lg-suffix-10 {
    margin-right: 83.33333%; }
  .el-lg-11 {
    width: 91.66667%; }
  .el-lg-pull-11 {
    right: 91.66667%; }
  .el-lg-push-11 {
    left: 91.66667%; }
  .el-lg-offset-11 {
    margin-left: 91.66667%; }
  .el-lg-suffix-11 {
    margin-right: 91.66667%; }
  .el-lg-12 {
    width: 100%; }
  .el-lg-pull-12 {
    right: 100%; }
  .el-lg-push-12 {
    left: 100%; }
  .el-lg-offset-12 {
    margin-left: 100%; }
  .el-lg-suffix-12 {
    margin-right: 100%; } }

@media (max-width: 780px) {
  .el-xs-hide {
    display: none; } }

@media (min-width: 780px) and (max-width: 1020px) {
  .el-sm-hide {
    display: none; } }

@media (min-width: 1020px) and (max-width: 1440px) {
  .el-md-hide {
    display: none; } }

@media (min-width: 1440px) {
  .el-lg-hide {
    display: none; } }

/**
 * Wordpress Core
 * =============================================================================
 */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

@media print {
  #navigation,
  #contentinfo,
  #comments {
    display: none; }
  #banner {
    background: none !important;
    position: absolute !important; } }

/**
 * Variables
 * =============================================================================
 */
@font-face {
  font-family: 'FuturaStd';
  /*a name to be used later*/
  src: url("http://localhost:8080/localwp.dev/wp-content/themes/cleverconsulting-chanchito-base/fonts/FuturaStdMedium.otf");
  /*URL to font*/ }

/**
 * Styles
 * =============================================================================
 */
/**
 * Structure
 */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 6.25%;
  min-height: 100%;
  position: relative; }

body {
  color: #212121;
  font-family: FuturaStd;
  font-size: 16rem;
  font-weight: 100;
  margin: 0 0 122px;
  letter-spacing: 5%; }

#main {
  padding: 577px 0 100px; }

/**
 * General
 */
h1, h2, h3, h4, h5, h6 {
  color: #212121; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: underline; }

h1 {
  font-size: 42rem; }

h2 {
  font-size: 32rem; }

h3 {
  font-size: 22rem; }

h4 {
  font-size: 18rem; }

h5 {
  font-size: 16rem; }

h6 {
  font-size: 13rem;
  text-transform: uppercase; }

#page {
  height: 100%;
  width: 100%; }

a {
  color: #0084ff;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

/**
 * Header
 */
#banner {
  background: #fff;
  position: absolute;
  transition: height 0.5s linear;
  width: 100%;
  z-index: 99999; }
  #banner .searchform input {
    background: #fff;
    border: 0px; }
  #banner .searchform button {
    width: 72px;
    height: 72px; }
  #banner .menu-block {
    display: inline;
    height: 51px;
    color: #0084ff;
    text-align: center; }
    #banner .menu-block li {
      margin-right: 20px; }
      #banner .menu-block li .subtext {
        font-size: 12px;
        color: #878787; }
      #banner .menu-block li a {
        border: 1px solid #e9e9e9;
        display: block;
        padding: 15px 20px; }
    #banner .menu-block .linkedin a:before {
      content: "\f0e1 ";
      font-family: "FontAwesome";
      margin-right: 10px; }
    #banner .menu-block .twitter a:before {
      content: "\f099 ";
      font-family: "FontAwesome";
      margin-right: 10px; }
  #banner .menu-block a:hover {
    color: #fff; }
  #banner.sticky {
    top: 0; }
  #banner .container {
    margin-top: 102px;
    overflow: hidden; }

#site-logo {
  text-align: center; }

#site-title {
  float: left;
  margin-bottom: 25px;
  overflow: hidden;
  line-height: normal;
  transition: margin-top 0.5s linear;
  font-family: FuturaStd;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  text-align: left;
  color: #626261; }

#site-title a {
  display: block;
  height: 100%;
  width: 100%; }
  #site-title a:focus {
    border: thin dotted; }

#newsletter {
  margin-top: 72px;
  color: #fff;
  background-color: #3b3b3b;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: justify;
  min-height: 190px; }
  #newsletter h2 {
    font-size: 34px;
    letter-spacing: 1px;
    color: #fff; }
  #newsletter input {
    background-color: #000;
    width: 30%; }
  #newsletter button {
    background-color: #e9e9e9;
    width: 12%; }

/**
 * Menu
 */
#navigation {
  height: 51px;
  text-align: center; }
  #navigation .current-menu-item a {
    border-bottom: 2px solid #fff; }
  @media (max-width: 1020px) {
    #navigation .menu {
      background: #fff;
      bottom: 0px;
      height: 100%;
      position: fixed;
      right: -100%;
      top: 0px;
      width: 80%;
      box-shadow: -10px 0px 11px rgba(0, 0, 0, 0.25);
      z-index: 99;
      overflow: auto;
      transition: all 0.5s cubic-bezier(1, 0, 0, 1); }
    #navigation .shadow {
      opacity: 0;
      position: fixed;
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      z-index: 9;
      background: rgba(0, 0, 0, 0.5);
      pointer-events: none;
      transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1); }
    #navigation.active .shadow {
      opacity: 1;
      pointer-events: auto; }
    #navigation.active .menu {
      right: 0%; } }
  #navigation li {
    float: left;
    height: 51px; }
    @media (max-width: 1020px) {
      #navigation li {
        width: 100%;
        height: 65px;
        border-bottom: 1px solid #ddd; } }
    #navigation li a {
      background: #fff;
      display: block;
      height: 100%;
      padding: 0 1em;
      width: 100%; }
      #navigation li a:hover, #navigation li a:focus {
        background: #0084ff; }
    #navigation li.menu-item-has-children > a::after {
      content: "\f078";
      font-family: 'FontAwesome';
      font-style: normal;
      font-weight: normal;
      margin-left: 6px; }
  #navigation ul ul {
    display: none;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    z-index: 99999; }
    #navigation ul ul li {
      width: 100%; }
    #navigation ul ul .menu-item-has-children > a::after {
      content: "\f054";
      font-family: 'FontAwesome';
      font-style: normal;
      font-weight: normal;
      margin-right: 6px; }
  #navigation ul li:hover > ul,
  #navigation ul li:focus > ul {
    display: block; }
  #navigation ul ul ul {
    left: 100%;
    top: 0; }

#menu-opener {
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 20px;
  z-index: 999999; }

@media (max-width: 1020px) {
  #banner .logo {
    width: 50%; }
  #banner .menu-block {
    width: 20%;
    float: right; }
    #banner .menu-block #toggle {
      font-size: 2em; }
      #banner .menu-block #toggle i {
        cursor: pointer; } }
    @media (max-width: 1020px) and (min-width: 1020px) {
      #banner .menu-block #toggle {
        display: none; } }

@media (min-width: 1020px) {
  #banner #toggle {
    display: none; } }

/**
 * Forms
 */
input,
[type="submit"],
select,
textarea,
fieldset,
.input-wrap,
button {
  background-color: #e9e9e9;
  border: 1px solid #212121;
  display: block;
  margin: 0 0 20px;
  width: 100%; }

input,
[type="submit"],
select,
button {
  height: 44px;
  line-height: 44px; }

input:focus,
textarea:focus,
.select-wrap.active,
.file-wrap.active,
select:focus,
button:focus {
  border-color: #fff;
  outline: 0; }

.file-wrap.active i,
.select-wrap.active .selector i {
  color: #fff; }

.checkbox.active .icon::before,
.radio.active .icon::before {
  color: #fff; }

input:not([type="checkbox"]):not([type="radio"]) {
  padding: 0 10px; }

[type="checkbox"],
[type="radio"] {
  display: inline-block;
  height: auto;
  margin: 0 3px 0 0;
  width: auto; }

.checkbox .icon::before,
.radio .icon::before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  top: 2px;
  width: 15px; }

.checkbox [type="checkbox"] {
  opacity: 0;
  position: absolute; }
  .checkbox [type="checkbox"] + .icon::before {
    content: "\f096"; }
  .checkbox [type="checkbox"]:checked + .icon::before {
    content: "\f046"; }

.radio [type="radio"] {
  opacity: 0;
  position: absolute; }
  .radio [type="radio"] + .icon::before {
    content: "\f10c"; }
  .radio [type="radio"]:checked + .icon::before {
    content: "\f192"; }

fieldset label {
  margin-left: 15px; }

fieldset legend + label {
  margin-left: 0; }

textarea {
  height: 110px;
  padding: 10px; }

button,
[type="submit"],
.button {
  background: #e9e9e9;
  border: none;
  color: #0084ff;
  cursor: pointer;
  display: block; }
  button:hover, button:focus,
  [type="submit"]:hover,
  [type="submit"]:focus,
  .button:hover,
  .button:focus {
    background: #0084ff;
    color: #e9e9e9; }

.select-wrap {
  background: #e9e9e9;
  height: 44px;
  position: relative; }
  .select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    z-index: 2; }
    .select-wrap select::-ms-expand {
      display: none; }
    .select-wrap select:focus::-ms-value {
      background: transparent; }
  .select-wrap .selector {
    height: 20px;
    overflow: hidden;
    margin-top: -10px;
    pointer-events: none;
    position: absolute;
    right: 9px;
    top: 50%;
    z-index: 1; }
    .select-wrap .selector i {
      color: #212121;
      display: block;
      height: 13px;
      position: relative;
      top: -4px; }
      .select-wrap .selector i.selector-up {
        top: -4px; }
      .select-wrap .selector i.selector-down {
        top: -7px; }

.file-wrap {
  line-height: 44px;
  overflow: hidden;
  padding: 0 10px;
  position: relative; }
  .file-wrap::after {
    content: attr(data-file);
    margin-left: 10px; }
  .file-wrap [type="file"] {
    border: none;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0; }
  .file-wrap .fa-file {
    color: #212121; }

::-webkit-input-placeholder {
  color: #3b3b3b; }

:-moz-placeholder {
  color: #3b3b3b;
  opacity: 1; }

::-moz-placeholder {
  color: #3b3b3b;
  opacity: 1; }

:-ms-input-placeholder {
  color: #3b3b3b; }

/**
 * Slider
 */
.flexslider img {
  width: 100%; }

/**
 * Social
 */
.social-links li {
  float: left;
  margin: 10px; }
  .social-links li a {
    opacity: 1; }
    .social-links li a:hover, .social-links li a:focus {
      opacity: 0.7; }

.social-links .fa-bitbucket {
  color: #205081; }

.social-links .fa-delicious {
  color: #3399ff; }

.social-links .fa-envelope {
  color: #fff; }

.social-links .fa-facebook-official {
  color: #3b5998; }

.social-links .fa-flickr {
  color: #ff0084; }

.social-links .fa-foursquare {
  color: #0072b1; }

.social-links .fa-github {
  color: #333; }

.social-links .fa-google-plus {
  color: #dd4b39; }

.social-links .fa-instagram {
  color: #517fa4; }

.social-links .fa-lastfm {
  color: #c3000d; }

.social-links .fa-linkedin {
  color: #007bb6; }

.social-links .fa-pinterest {
  color: #cb2027; }

.social-links .fa-reddit {
  color: #ff4500; }

.social-links .fa-rss {
  color: #f26522; }

.social-links .fa-soundcloud {
  color: #ff3a00; }

.social-links .fa-spotify {
  color: #2ebd59; }

.social-links .fa-twitter {
  color: #00aced; }

.social-links .fa-vimeo-square {
  color: #1ab7ea; }

.social-links .fa-vine {
  color: #00b488; }

.social-links .fa-youtube {
  color: #bb0000; }

/**
 * Custom Content
 */
#articles {
  margin-top: 80px; }

.container #header {
  overflow: hidden; }

#content article {
  min-height: 410px;
  display: block;
  margin: 0px; }
  #content article a {
    text-decoration: none; }

#content .entry-thumbnail img {
  max-width: 100%;
  height: auto; }

#content .entry-thumbnail .entry_comments_number {
  color: #212121;
  width: 65px;
  height: 36px;
  background: #fff;
  position: relative;
  bottom: 46px;
  left: 10px;
  z-index: 9; }

#content .entry-thumbnail .entry_comments_number p {
  padding: 9px 14px 9px; }

#content .entry_comments_number p:after {
  content: "\f075";
  font-family: "FontAwesome";
  margin-left: 10px; }

#content header h1 {
  margin-top: 45px;
  margin-right: 50px;
  font-size: 42px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  color: #212121; }

#content header h2 {
  margin-right: 5%;
  font-size: 21px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  text-align: justify;
  color: #212121; }

#content .entry-content {
  margin: 35px 50px 0px;
  color: #626262;
  font-size: 18px; }
  #content .entry-content h1 {
    margin: 35px 0px;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.6px;
    text-align: left;
    color: #626262; }

/**
 * Content
 */
#content .entry-content p {
  margin: 10px 0; }

#content .entry-content ul, #content .entry-content ol {
  padding-left: 50px; }

#content .entry-content ul {
  list-style: disc; }

/**
 * Comments
 */
#comments {
  margin-top: 60px; }
  #comments .comment-list {
    margin-top: 20px;
    padding-left: 20px; }
    #comments .comment-list .children {
      margin: 20px 0 0 40px; }
  #comments .comment {
    margin-bottom: 20px; }
    #comments .comment .comment-author {
      margin-bottom: 10px; }
    #comments .comment .comment-meta a {
      color: #999; }
    #comments .comment .reply {
      margin-top: 5px; }
  #comments .comment-respond {
    margin: 0 auto; }
  #comments .comment-reply-title {
    margin-bottom: 20px; }
  #comments input,
  #comments textarea {
    max-width: 100%; }

/**
 * Footer
 */
#contentinfo {
  background-color: #fff;
  bottom: 0;
  color: #212121;
  font-size: 0.9em;
  left: 0;
  line-height: 122px;
  position: absolute;
  width: 100%; }
  #contentinfo .footercontainer {
    border-top: 1px solid #e9e9e9; }
  #contentinfo .legal-menu li {
    display: inline-block;
    margin: 0 10px; }
    #contentinfo .legal-menu li:first-child {
      margin-left: 0; }
    #contentinfo .legal-menu li a:hover {
      text-decoration: none; }
  #contentinfo a:hover {
    text-decoration: underline; }
  #contentinfo a:focus {
    outline: thin dotted; }

/**
 * Cookies
 */
.ccf .sending {
  height: 40px;
  text-align: center;
  width: 100%; }

.ccf .response {
  color: #fff;
  padding: 15px 20px;
  margin: 10px 0;
  width: 100%; }
  .ccf .response.correct {
    background-color: #43ac6a; }
  .ccf .response.error {
    background-color: #f04124; }
  .ccf .response:empty {
    display: none; }

/**
 * Cookies
 */
#cookies {
  background: #0084ff;
  bottom: 0;
  display: none;
  padding: 10px 0;
  width: 100%;
  z-index: 300; }
  #cookies .container {
    color: #212121;
    font-size: 14rem;
    font-weight: 100;
    margin: 0 auto;
    position: relative; }
  #cookies .close-cookies {
    color: #fff;
    cursor: pointer;
    float: right; }
    #cookies .close-cookies:hover {
      opacity: 0.8; }

.wrap {
  overflow-x: auto; }

.cookies-table {
  border-collapse: collapse;
  min-width: 950px; }
  .cookies-table th {
    background: #ccc; }
  .cookies-table td {
    border: 1px solid #ccc;
    padding: 5px; }

/**
 * Newsletter
 */
.newsletter .terms {
  color: #0084ff;
  text-decoration: underline; }
  .newsletter .terms:hover, .newsletter .terms:focus {
    text-decoration: none; }
  .newsletter .terms:focus {
    outline: thin dotted; }

/**
 * Newsletter
 */
.searchform {
  display: block;
  position: relative; }
  .searchform [type="text"] {
    padding-right: 54px; }
  .searchform [type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px; }

/**
 * Pagination
 */
.pagination {
  text-align: center; }
  .pagination li {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 0.9em;
    height: 30px;
    line-height: 30px;
    margin: 4px;
    text-align: center;
    width: 30px; }
    .pagination li.active, .pagination li:focus, .pagination li:hover {
      background: #fff;
      color: #fff; }
    .pagination li a {
      display: block;
      height: 100%;
      width: 100%; }

#load-more {
  margin-top: 40px;
  max-width: 100%; }

.woocommerce div#content {
  padding-top: 100px; }
