
$cols-per-row: 12;
$padding: 15px;

$sm-screen: (750px + $padding * 2); // 720
$md-screen: (990px + $padding * 2); // 940
$lg-screen: (1410px + $padding * 2);// 1140

.container {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	padding-left:  ($padding/2);
	padding-right: ($padding/2);
	width: 100%;
}
.group { display: flex; }

.group-row { flex-direction: row; }
.group-row-reverse { flex-direction: row-reverse; }
.group-column { flex-direction: column; }
.group-column-reverse { flex-direction: column-reverse; }

.group-nowrap { flex-wrap: nowrap; }
.group-wrap { flex-wrap: wrap; }
.group-wrap-reverse { flex-wrap: wrap-reverse; }

.group-content-flex-start { justify-content: flex-start; }
.group-content-flex-end { justify-content: flex-end; }
.group-content-center { justify-content: center; }
.group-content-space-between { justify-content: space-between; }
.group-content-space-around { justify-content: space-around; }

.group-flex-start { align-items: flex-start; }
.group-flex-end { align-items: flex-end; }
.group-center { align-items: center; }
.group-baseline { align-items: baseline; }
.group-stretch { align-items: stretch; }

.group-align-content-flex-start { align-items: flex-start; }
.group-align-content-flex-end { align-items: flex-end; }
.group-align-content-center { align-items: center; }
.group-align-content-baseline { align-items: baseline; }
.group-align-content-stretch { align-items: stretch; }

.el-first { order: 1; }
.el-second { order: 2; }
.el-third { order: 3; }
.el-last { order: 999; }

.el-auto { align-self: auto; }
.el-flex-start { align-self: flex-start; }
.el-flex-end { align-self: flex-end; }
.el-center { align-self: center; }
.el-baseline { align-self: baseline; }
.el-stretch { align-self: stretch; }

[class*="el-xs-"],
[class*="el-sm-"],
[class*="el-md-"],
[class*="el-lg-"] {
	float: left;
	padding-left:  ($padding/2);
	padding-right: ($padding/2);
	position: relative;
}

@for $i from 1 through $cols-per-row {
	.el-xs-#{$i} { width: percentage($i / $cols-per-row); }
	.el-xs-pull-#{$i} { right: percentage($i / $cols-per-row); }
	.el-xs-push-#{$i} { left: percentage($i / $cols-per-row); }
	.el-xs-offset-#{$i} { margin-left: percentage($i / $cols-per-row); }
	.el-xs-suffix-#{$i} { margin-right: percentage($i / $cols-per-row); }
}

@media (min-width: $sm-screen) {
	.group-sm-row { flex-direction: row; }
	.group-sm-row-reverse { flex-direction: row-reverse; }
	.group-sm-column { flex-direction: column; }
	.group-sm-column-reverse { flex-direction: column-reverse; }

	.group-sm-nowrap { flex-wrap: nowrap; }
	.group-sm-wrap { flex-wrap: wrap; }
	.group-sm-wrap-reverse { flex-wrap: wrap-reverse; }

	.group-sm-content-flex-start { justify-content: flex-start; }
	.group-sm-content-flex-end { justify-content: flex-end; }
	.group-sm-content-center { justify-content: center; }
	.group-sm-content-space-between { justify-content: space-between; }
	.group-sm-content-space-around { justify-content: space-around; }

	.group-sm-flex-start { align-items: flex-start; }
	.group-sm-flex-end { align-items: flex-end; }
	.group-sm-center { align-items: center; }
	.group-sm-baseline { align-items: baseline; }
	.group-sm-stretch { align-items: stretch; }

	.group-sm-align-content-flex-start { align-items: flex-start; }
	.group-sm-align-content-flex-end { align-items: flex-end; }
	.group-sm-align-content-center { align-items: center; }
	.group-sm-align-content-baseline { align-items: baseline; }
	.group-sm-align-content-stretch { align-items: stretch; }

	.el-sm-first { order: 1; }
	.el-sm-second { order: 2; }
	.el-sm-third { order: 3; }
	.el-sm-last { order: 999; }

	.el-sm-auto { align-self: auto; }
	.el-sm-flex-start { align-self: flex-start; }
	.el-sm-flex-end { align-self: flex-end; }
	.el-sm-center { align-self: center; }
	.el-sm-baseline { align-self: baseline; }
	.el-sm-stretch { align-self: stretch; }

	.text-sm-center { text-align: center; }
	.text-sm-left { text-align: left; }
	.text-sm-right { text-align: right; }

	@for $i from 1 through $cols-per-row {
		.el-sm-#{$i} { width: percentage($i / $cols-per-row); }
		.el-sm-pull-#{$i} { right: percentage($i / $cols-per-row); }
		.el-sm-push-#{$i} { left: percentage($i / $cols-per-row); }
		.el-sm-offset-#{$i} { margin-left: percentage($i / $cols-per-row); }
		.el-sm-suffix-#{$i} { margin-right: percentage($i / $cols-per-row); }
	}
}

@media (min-width: $md-screen) {
	.group-md-row { flex-direction: row; }
	.group-md-row-reverse { flex-direction: row-reverse; }
	.group-md-column { flex-direction: column; }
	.group-md-column-reverse { flex-direction: column-reverse; }

	.group-md-nowrap { flex-wrap: nowrap; }
	.group-md-wrap { flex-wrap: wrap; }
	.group-md-wrap-reverse { flex-wrap: wrap-reverse; }

	.group-md-content-flex-start { justify-content: flex-start; }
	.group-md-content-flex-end { justify-content: flex-end; }
	.group-md-content-center { justify-content: center; }
	.group-md-content-space-between { justify-content: space-between; }
	.group-md-content-space-around { justify-content: space-around; }

	.group-md-flex-start { align-items: flex-start; }
	.group-md-flex-end { align-items: flex-end; }
	.group-md-center { align-items: center; }
	.group-md-baseline { align-items: baseline; }
	.group-md-stretch { align-items: stretch; }

	.group-md-align-content-flex-start { align-items: flex-start; }
	.group-md-align-content-flex-end { align-items: flex-end; }
	.group-md-align-content-center { align-items: center; }
	.group-md-align-content-baseline { align-items: baseline; }
	.group-md-align-content-stretch { align-items: stretch; }

	.el-md-first { order: 1; }
	.el-md-second { order: 2; }
	.el-md-third { order: 3; }
	.el-md-last { order: 999; }

	.el-md-auto { align-self: auto; }
	.el-md-flex-start { align-self: flex-start; }
	.el-md-flex-end { align-self: flex-end; }
	.el-md-center { align-self: center; }
	.el-md-baseline { align-self: baseline; }
	.el-md-stretch { align-self: stretch; }

	.text-md-center { text-align: center; }
	.text-md-left { text-align: left; }
	.text-md-right { text-align: right; }

	@for $i from 1 through $cols-per-row {
		.el-md-#{$i} { width: percentage($i / $cols-per-row); }
		.el-md-pull-#{$i} { right: percentage($i / $cols-per-row); }
		.el-md-push-#{$i} { left: percentage($i / $cols-per-row); }
		.el-md-offset-#{$i} { margin-left: percentage($i / $cols-per-row); }
		.el-md-suffix-#{$i} { margin-right: percentage($i / $cols-per-row); }
	}
}

@media (min-width: $lg-screen) {
	.group-lg-row { flex-direction: row; }
	.group-lg-row-reverse { flex-direction: row-reverse; }
	.group-lg-column { flex-direction: column; }
	.group-lg-column-reverse { flex-direction: column-reverse; }

	.group-lg-nowrap { flex-wrap: nowrap; }
	.group-lg-wrap { flex-wrap: wrap; }
	.group-lg-wrap-reverse { flex-wrap: wrap-reverse; }

	.group-lg-content-flex-start { justify-content: flex-start; }
	.group-lg-content-flex-end { justify-content: flex-end; }
	.group-lg-content-center { justify-content: center; }
	.group-lg-content-space-between { justify-content: space-between; }
	.group-lg-content-space-around { justify-content: space-around; }

	.group-lg-flex-start { align-items: flex-start; }
	.group-lg-flex-end { align-items: flex-end; }
	.group-lg-center { align-items: center; }
	.group-lg-baseline { align-items: baseline; }
	.group-lg-stretch { align-items: stretch; }

	.group-lg-align-content-flex-start { align-items: flex-start; }
	.group-lg-align-content-flex-end { align-items: flex-end; }
	.group-lg-align-content-center { align-items: center; }
	.group-lg-align-content-baseline { align-items: baseline; }
	.group-lg-align-content-stretch { align-items: stretch; }

	.el-lg-first { order: 1; }
	.el-lg-second { order: 2; }
	.el-lg-third { order: 3; }
	.el-lg-last { order: 999; }

	.el-lg-auto { align-self: auto; }
	.el-lg-flex-start { align-self: flex-start; }
	.el-lg-flex-end { align-self: flex-end; }
	.el-lg-center { align-self: center; }
	.el-lg-baseline { align-self: baseline; }
	.el-lg-stretch { align-self: stretch; }

	.text-lg-center { text-align: center; }
	.text-lg-left { text-align: left; }
	.text-lg-right { text-align: right; }

	@for $i from 1 through $cols-per-row {
		.el-lg-#{$i} { width: percentage($i / $cols-per-row); }
		.el-lg-pull-#{$i} { right: percentage($i / $cols-per-row); }
		.el-lg-push-#{$i} { left: percentage($i / $cols-per-row); }
		.el-lg-offset-#{$i} { margin-left: percentage($i / $cols-per-row); }
		.el-lg-suffix-#{$i} { margin-right: percentage($i / $cols-per-row); }
	}
}

@media (max-width: $sm-screen) {
	.el-xs-hide { display: none; }
}
@media (min-width: $sm-screen) and (max-width: $md-screen) {
	.el-sm-hide { display: none; }
}
@media (min-width: $md-screen) and (max-width: $lg-screen) {
	.el-md-hide { display: none; }
}
@media (min-width: $lg-screen) {
	.el-lg-hide { display: none; }
}