/**
 * Grid
 * =============================================================================
 */

$total-columns: 12px;
$margin-columns: 20px;
$container-width: 960px;

// Container
@mixin mk-container() {
	margin-left: auto;
	margin-right: auto;
	width: $container-width;
}

@mixin col() {
	display: inline;
	float: left;
	padding-left: $margin-columns / 2;
	padding-right: $margin-columns / 2;
}

@mixin mk-xs-col($columns) {
	width: (($container-width / $total-columns) * $columns) * 1px;
}

@for $i from 1 through 12 {
	.grid-#{$i} {
		@include col();
		width: (($container-width / $total-columns) * $i) * 1px;
	}
}