/**
 * Included Files
 * =============================================================================
 */
@import "utils";
@import "reset";
@import "fontawesome/font-awesome";
//@import "grid";  // Normal grid
//@import "vgrid"; // Responsive Grid
@import "flexgrid"; // Responsive Grid With Flex :D
@import "wordpress-core";
@import "print";

/**
 * Variables
 * =============================================================================
 */

// Colors
$color-main: #fff; // o #212121;//#212121;
$color-secondary: #0084ff; //#8694ff; //#ffd874;
$color-text: #212121; //#333;
$color-headers: #212121; //#6073ff;
$color-links: #0084ff; //#384ffc;
$color-links-text: #0084ff; //added
$color-links-texthover: #fff; //added
$color-input: $color-text;
$color-input-background: #e9e9e9; //#fff;
$color-placeholder: lighten($color-text, 10%);
$color-button: #e9e9e9;//$color-main;
$color-button-text: $color-secondary;
$color-success: #43ac6a;
$color-error: #f04124;

// Fonts
//$font-family:  //Helvetica, Arial ,sans-serif;
@font-face {
    font-family: 'FuturaStd'; /*a name to be used later*/
    src: url('http://localhost:8080/localwp.dev/wp-content/themes/cleverconsulting-chanchito-base/fonts/FuturaStdMedium.otf'); /*URL to font*/
}
$font-family: FuturaStd;
    
//menu Sizing
$menu-height: 51px;
$news-height:190px;
//news-width: 1200px;

// Sizing
$content-top: 80px;
$content-bottom: 100px;
$header-height: 307px + $news-height;// 100px;//
$header-height-sm: 65px;
$footer-height: 122px;//50px;
$input-height: 44px;
$input-width: 100%;
$input-margin: 20px;

/**
 * Styles
 * =============================================================================
 */

/**
 * Structure
 */
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size: 6.25%;
	min-height: 100%;
	position: relative;
}
body {
	color: $color-text;
	font-family: $font-family;
	font-size: 16rem; //16px;//
	font-weight: 100;
	margin: 0 0 $footer-height;
    letter-spacing: 5%;
}
#main {
	@extend %clearfix;
	padding: $header-height + $content-top 0 $content-bottom;
}

/**
 * General
 */
h1, h2, h3, h4, h5, h6 {
	color: $color-headers;
	a { text-decoration: none; }
	a:hover { text-decoration: underline; }
}
h1 {
	font-size: 42rem;
}
h2 {
	font-size: 32rem;
}
h3 {
	font-size: 22rem;
}
h4 {
	font-size: 18rem;
}
h5 {
	font-size: 16rem;
}
h6 {
	font-size: 13rem;
	text-transform: uppercase;
}
#page {
	height: 100%;
	width: 100%;
}
a {
	color: $color-links;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
#banner,
.widget-area,
button {
	a {
		@extend %reset-a;
	}
}

/**
 * Header
 */
#banner {
    //padding-top: 98px;
	background: $color-main;
	//height: $header-height;
	//line-height: $menu-height;
	position: absolute;
	transition: height 0.5s linear;
	width: 100%;
	z-index: 99999;
    .searchform{
        //margin-bottom: 30px;
        input{
            //padding-top: 15px;
            background: $color-main;
            border: 0px;
        }
        button{
            width: 72px;
            height: 72px;
        }
    }
	.menu-block {
        display: inline;
        //border: 1px solid red;
        //float: right;
		height: $menu-height; //$header-height;
        color: $color-links;
		text-align: center; //right;
        //padding:  ($menu-height/2)px 20px;
        
        li{
            margin-right: 20px; //margin-left: 15px;
            .subtext{
            //border: 2px solid $color-links;
                font-size: 12px;
                color: #878787;
            }
            a{
                border: 1px solid $color-button;
                display: block;
                padding: 15px 20px; //($menu-height/2);
            }
        }
        .linkedin a:before {
            content: "\f0e1 ";
            font-family: "FontAwesome";
            margin-right: 10px;
        }
        .twitter a:before {
            content: "\f099 ";
            font-family: "FontAwesome";
            margin-right: 10px;
        }

	}
    .menu-block a:hover{
        color:$color-links-texthover;
    }
	&.sticky {
		//position: fixed;
		top: 0;
	}
	.container {
		//height: $header-height;
        margin-top: 102px;
		overflow: hidden;
	}
}
#site-logo {
    //margin-top: 98px;//26px;
    text-align: center;
    //height: 300px;
}
#site-title {
	//@include sprite(0px 0px);
	float: left;
	//height: 150px;
	//margin-top: 98px;//26px;
    margin-bottom: 25px;
	overflow: hidden;
	//text-indent: 100%;
    line-height: normal;
	transition: margin-top 0.5s linear;
	//width: 85px;
     font-family: FuturaStd;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  //letter-spacing: 0.4px;
  text-align: left;
  color: #626261;
}
#site-title a {
	display: block;
	height: 100%;
	width: 100%;
	&:focus { border: thin dotted; }
}
#newsletter{
    margin-top: 72px;
    //padding: 0px;
    color: $color-main;
    background-color: $color-placeholder;//#626262;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    //letter-spacing: 0.8px;
    text-align: justify;
    min-height: $news-height;
    h2{
        //height: 36px;
        //mix-blend-mode: undefined;
        //font-family: FuturaStd;
        font-size: 34px;//33.6px;
        //font-weight: normal;
        //font-style: normal;
        //font-stretch: normal;
        //line-height: 4.75;
        letter-spacing: 1px;
        //text-align: left;
        color: $color-main;
    }
    
    input {
        background-color: #000;
        width: 30%;
    }
    button{
        background-color: $color-button;
        width: 12%;
    }
}

/**
 * Menu
 */
#navigation {
	//display: inline-block;
	height: $menu-height; //$header-height;
	text-align: center; //left;


	.current-menu-item a {
		border-bottom: 2px solid $color-main;
	}

	@media (max-width: $md-screen) {
			.menu {
				background: #fff;
				bottom: 0px;
				height: 100%;
				position: fixed;
				right: -100%;
				top: 0px;
				width: 80%;
				box-shadow: -10px 0px 11px rgba(0,0,0,0.25);
				z-index: 99;
				overflow: auto;
				transition: all 0.5s cubic-bezier(1,0,0,1);
			}

			.shadow {
				opacity: 0;
				position: fixed;
				left: 0px;
				top: 0px;
				bottom: 0px;
				right: 0px;
				z-index: 9;
				background: rgba(0,0,0,.5);
				pointer-events: none;
				transition: all 0.5s cubic-bezier(0.77,0,0.18,1);
			}

			&.active {
				.shadow {
					opacity: 1;
					pointer-events: auto;
				}

				.menu {
					right: 0%;
				}
			}
		}

	li {
		float: left;
		height: $menu-height; //$header-height;
		//line-height: $menu-height; //$header-height; //normal;//
		//position: relative;

		@media (max-width: $md-screen) {
			width: 100%;
			height: $header-height-sm;
			//line-height: $header-height-sm;
			border-bottom: 1px solid #ddd;
		}

		a {
			background: $color-main;
			display: block;
			height: 100%;
			padding: 0 1em;
			width: 100%;
			&:hover,
			&:focus {
				background: $color-secondary;
			}
		}
		&.menu-item-has-children > a::after {
			content: "\f078";
			font-family: 'FontAwesome';
			font-style: normal;
			font-weight: normal;
			margin-left: 6px;
		}
	}
	ul ul {
		display: none;
		position: absolute;
		top: 100%;
		white-space: nowrap;
		z-index: 99999;

		li {
			width: 100%;
		}
		.menu-item-has-children > a::after {
			content: "\f054";
			font-family: 'FontAwesome';
			font-style: normal;
			font-weight: normal;
			margin-right: 6px;
		}
	}
	ul li:hover > ul,
	ul li:focus > ul {
		display: block;
	}
	ul ul ul {
		left: 100%;
		top: 0;
	}
}
#menu-opener {
	bottom: 0; 
	position: fixed;
	right: 0;
	top: 0;
	width: 20px;
	z-index: 999999;
}

// Menu toggle
#banner {
	@media (max-width: $md-screen) {
		.logo {
			width: 50%;
		}
		.menu-block {
			width: 20%;
			float: right;
			//line-height: $menu-height;

			#toggle {
				i {cursor: pointer;}
				font-size: 2em;
				@media (min-width: $md-screen) {
					display: none;
				}
			}
		}
	}
	@media (min-width: $md-screen) {
		#toggle {display: none;}
	}
}


/**
 * Forms
 */
input,
[type="submit"],
select,
textarea,
fieldset,
.input-wrap,
button {
	background-color: $color-input-background;
	border: 1px solid $color-input;
	display: block;
	margin: 0 0 $input-margin;
	width: 100%;
}
input,
[type="submit"],
select,
button {
	height: $input-height;
	line-height: $input-height;
}
input:focus,
textarea:focus,
.select-wrap.active,
.file-wrap.active,
select:focus,
button:focus {
	border-color: $color-main;
	outline: 0;
}
.file-wrap.active i,
.select-wrap.active .selector i {
	color: $color-main;
}
.checkbox.active .icon::before,
.radio.active .icon::before {
	color: $color-main;
}
input:not([type="checkbox"]):not([type="radio"]) {
	padding: 0 10px;
}
[type="checkbox"],
[type="radio"] {
	display: inline-block;
	height: auto;
	margin: 0 3px 0 0;
	width: auto;
}
.checkbox .icon::before,
.radio .icon::before {
	display: inline-block;
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	position: relative;
	top: 2px;
	width: 15px;
}
.checkbox {
	[type="checkbox"] {
		opacity: 0;
		position: absolute;

		& + .icon::before {
			content: "\f096";
		}
		&:checked + .icon::before {
			content: "\f046";
		}
		&:focus {

		}
	}
}
.radio {
	[type="radio"] {
		opacity: 0;
		position: absolute;

		& + .icon::before {
			content: "\f10c";
		}
		&:checked + .icon::before {
			content: "\f192";
		}
	}
}
fieldset {
	label {
		margin-left: 15px;
	}
	legend + label {
		margin-left: 0;
	}
}
textarea {
	height: $input-height * 2.5;
	padding: 10px;
}
button,
[type="submit"],
.button {
	background: $color-button;
	border: none;
	color: $color-button-text;
	cursor: pointer;
	display: block;

	&:hover,
	&:focus {
		background: $color-button-text;
		color: $color-button;
	}
}
.select-wrap {
	background: $color-input-background;
	height: $input-height;
	position: relative;

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		border: 0;
		margin: 0;
		padding: 0 10px;
		position: absolute;
		z-index: 2;

		&::-ms-expand {
			display: none;
		}
		&:focus::-ms-value {
			background: transparent;
		}
	}
	.selector {
		height: 20px;
		overflow: hidden;
		margin-top: -10px;
		pointer-events: none;
		position: absolute;
		right: 9px;
		top: 50%;
		z-index: 1;

		i {
			color: $color-input;
			display: block;
			height: 13px;
			position: relative;
			top: -4px;
			&.selector-up {
				top: -4px;
			}
			&.selector-down {
				top: -7px;
			}
		}
	}
}
.file-wrap {
	line-height: $input-height;
	overflow: hidden;
	padding: 0 10px;
	position: relative;

	&::after {
		content: attr(data-file);
		margin-left: 10px;
	}
	[type="file"] {
		border: none;
		margin: 0;
		opacity: 0;
		padding: 0;
		position: absolute;
		top: 0;
	}
	.fa-file {
		color: $color-input;
	}
}
::-webkit-input-placeholder {
	color: $color-placeholder;
}
:-moz-placeholder {
	color: $color-placeholder;
	opacity: 1;
}
::-moz-placeholder {
	color: $color-placeholder;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $color-placeholder;
}


/**
 * Slider
 */
.flexslider img {
	width: 100%;
}

/**
 * Social
 */
.social-links {
	li {
		float: left;
		margin: 10px;
		a {
			opacity: 1;
			&:hover,
			&:focus { opacity: 0.7; }
		}
	}
	.fa-bitbucket { color: #205081; }
	.fa-delicious { color: #3399ff; }
	.fa-envelope { color: $color-main; }
	.fa-facebook-official { color: #3b5998; }
	.fa-flickr { color: #ff0084; }
	.fa-foursquare { color: #0072b1; }
	.fa-github { color: #333; }
	.fa-google-plus { color: #dd4b39; }
	.fa-instagram { color: #517fa4; }
	.fa-lastfm { color: #c3000d; }
	.fa-linkedin { color: #007bb6; }
	.fa-pinterest { color: #cb2027; }
	.fa-reddit { color: #ff4500; }
	.fa-rss { color: #f26522; }
	.fa-soundcloud { color: #ff3a00; }
	.fa-spotify { color: #2ebd59; }
	.fa-twitter { color: #00aced; }
	.fa-vimeo-square { color: #1ab7ea; }
	.fa-vine { color: #00b488; }
	.fa-youtube { color: #bb0000; }
}

/**
 * Custom Content
 */
#articles{
    margin-top: 80px;
}
.container{
    #header{
        overflow: hidden;
    }
    .menu-block{
        //display: inline;
        //clear: both;
        //float: right;//
    }
}
#content {
    article{
        min-height: 410px;//225px+186;
        display: block;
        margin: 0px;
        //border: 1px solid green;
        //overflow: hidden;
        //margin-bottom: 68px;
        a{
            text-decoration: none;
        }
    }
    .entry-thumbnail img{
        max-width: 100%;
        height: auto;
    }
    .entry-thumbnail{
        //position: relative;
        .entry_comments_number{
            color: $color-text; 
            width: 65px;
            height: 36px;
            background: $color-main;
            position: relative;
            bottom: 46px;
            left: 10px;
            z-index: 9;
        }
        .entry_comments_number p{
            padding: 9px 14px 9px;
        }
    }
    .entry_comments_number p:after {
        content: "\f075";//"\f27a"; "\f72a";
        font-family: "FontAwesome";
        margin-left: 10px;
    }
    
    header{
        h1{
            margin-top: 45px;
            margin-right: 50px;
            font-size: 42px;
            //font-weight: normal;
            //font-style: normal;
            //font-stretch: normal;
            line-height: 1;
            letter-spacing: 1px;
            text-align: left;
            color: $color-text; //#212121;
        }
        h2{
            //a{
            
                //margin-top: 35px;
                margin-right: 5%;
                font-size: 21px;
                //font-weight: normal;
                //font-style: normal;
                //font-stretch: normal;
                line-height: 1.4;
                letter-spacing: 0.5px;
                text-align: justify;
                color: $color-text; //#212121;
            //}
        }
    }
    .entry-content{
        margin: 35px 50px 0px;
        color: #626262;
        font-size: 18px;
        h1{
            margin: 35px 0px;
            font-size: 24px;
            //font-weight: normal;
            //font-style: normal;
            //font-stretch: normal;
            line-height: 1.17;
            letter-spacing: 0.6px;
            text-align: left;
            color: #626262;
        }
    }
}
/**
 * Content
 */
#content {
	.entry-content {
        //max-width: 100%;
		@extend %content-style;
		p {
			margin: 10px 0;
		}
		ul, ol {
			padding-left: 50px;
		}
		ul {
			list-style: disc;
		}
	}
}

/**
 * Comments
 */
#comments {
	margin-top: 60px;

	.comment-list {
		margin-top: 20px;
		padding-left: 20px;
		.children {
			margin: 20px 0 0 40px;
		}
	}
	.comment {
		margin-bottom: 20px;
		@extend %content-style;

		.comment-author {
			margin-bottom: 10px;
		}
		.comment-meta a {
			color: #999;
		}
		.reply {
			margin-top: 5px;
		}
	}
	.comment-respond {
		margin: 0 auto;
	}
	.comment-reply-title {
		margin-bottom: $input-margin;
	}
	input,
	textarea {
		max-width: 100%;
	}
}

/**
 * Footer
 */
#contentinfo {
	background-color: $color-main;//#333;
	bottom: 0;
	color: $color-text;//#fff;
	font-size: 0.9em;
	left: 0;
	line-height: $footer-height;
	position: absolute;
	width: 100%;
    
    .footercontainer{
        border-top: 1px solid $color-button;
    }

	.legal-menu li {
		display: inline-block;
		margin: 0 10px;

		&:first-child {
			margin-left: 0;
		}
		a:hover { text-decoration: none; }
	}
	a:hover { text-decoration: underline; }
	a:focus { outline: thin dotted; }
}

/**
 * Cookies
 */
.ccf {
	.sending {
		height: 40px;
		text-align: center;
		width: 100%;
	}
	.response {
		color: #fff;
		padding: 15px 20px;
		margin: 10px 0;
		width: 100%;
		&.correct { background-color: $color-success; }
		&.error { background-color: $color-error; }
		&:empty { display: none; }
	}
}


/**
 * Cookies
 */
#cookies {
	background: $color-secondary;
	bottom: 0;
	display: none;
	padding: 10px 0;
	width: 100%;
	z-index: 300;

	.container {
		color: $color-text;
		font-size: 14rem;
		font-weight: 100;
		margin: 0 auto;
		position: relative;
	}
	.close-cookies {
		color: $color-main;
		cursor: pointer;
		float: right;

		&:hover {
			opacity: 0.8;
		}
	}
}
.wrap { overflow-x: auto; }
.cookies-table {
	border-collapse: collapse;
	min-width: 950px;

	th {
		background: #ccc;
	}
	td {
		border: 1px solid #ccc;
		padding: 5px;
	}
}

/**
 * Newsletter
 */
.newsletter {
	.terms {
		color: $color-links;
		text-decoration: underline;
		&:hover,
		&:focus { text-decoration: none; }
		&:focus { outline: thin dotted; }
	}
}


/**
 * Newsletter
 */
.searchform {
	display: block;
	position: relative;

	[type="text"] {
		padding-right: $input-height + 10px;
	}
	[type="submit"] {
		position: absolute;
		right: 0;
		top: 0;
		width: $input-height;
	}
}


/**
 * Pagination
 */
.pagination {
	text-align: center;

	li {
		border: 1px solid $color-main;
		color: $color-main;
		display: inline-block;
		font-size: 0.9em;
		height: 30px;
		line-height: 30px;
		margin: 4px;
		text-align: center;
		width: 30px;

		&.active,
		&:focus,
		&:hover {
			background: $color-main;
			color: #fff;
		}
		a {
			@extend %reset-a;
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}
#load-more {
	margin-top: 40px;
	max-width: 100%;
}

.woocommerce div#content{
	padding-top: 100px;
}