/**
 * Reset Sheet
 * =============================================================================
 */

*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/**
 * General
 */
body, html {
	width: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul { list-style: none; }
img { outline: none; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/**
 * Links
 */
a {
	outline: none;
	&:active,
	&:hover { outline: 0; }
	&:focus { outline: thin dotted; }
}

/**
 * Forms
 */
button {
	cursor: pointer;
	line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	user-select: none;
}
button[disabled],
input[disabled] { cursor: default; }
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
input[type="search"] {
	appearance: textfield;
	line-height: normal;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
::-ms-clear {
	display: none;
}
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

@-ms-viewport{
	width: device-width;
}

/**
 * Wordpress Thing
 */
p:empty {
	display: none;
}
