%clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
.clear { @extend %clear; }

%clearfix {
	*zoom: 1;
	&::before, &::after {
		content: " ";
		display: table;
	}
	&::after {
		clear: both;
	}
}
.clearfix { @extend %clearfix; }

@mixin sprite($pos) {
	background: transparent url(../img/sprite.png) no-repeat 0px 0px;
	background-position: $pos;
}

%reset-a {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	&:focus { outline: 0; }
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

%vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

%content-style {
	line-height: 150%;

	a { word-break: break-word; }
}