/* 1. - Columns settings
————————————————————————————————————————————— */

$cols-per-row: 12;    // Columns per row
$padding-width: 15px; // Padding between columns


/*  2. - Width Variables
————————————————————————————————————————————— */

$sm-screen: (720px  + $padding-width*2);
$md-screen: (940px  + $padding-width*2);
$lg-screen: (1140px + $padding-width*2);


/* 3. - Container
————————————————————————————————————————————— */

@mixin mk-container() {
	max-width: 1140px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left:  ($padding-width/2);
	padding-right: ($padding-width/2);
	@extend %clearfix;
}
.group,
.container { @include mk-container(); }

/* 4. - Columns
————————————————————————————————————————————— */
@mixin col() {
	float: left;
	padding-left:  ($padding-width/2);
	padding-right: ($padding-width/2);
}

%cols {
	float: left;
	padding-left:  ($padding-width/2);
	padding-right: ($padding-width/2);
	position: relative;
}

/* Make Columns Mixins
*/
@mixin mk-xs-col($columns) {
	width: percentage($columns / $cols-per-row);
	@extend %cols;
}
@mixin mk-xs-pull($columns) {
	right: percentage($columns / $cols-per-row);
}
@mixin mk-xs-push($columns) {
	left: percentage($columns / $cols-per-row);
}
@mixin mk-xs-offset($columns) {
	margin-left: percentage($columns / $cols-per-row);
}
@mixin mk-xs-suffix($columns) {
	margin-right: percentage($columns / $cols-per-row);
}

@mixin mk-sm-col($columns) {
	@extend %cols;
	@media (min-width: $sm-screen) {
		width: percentage($columns / $cols-per-row);
	}
}
@mixin mk-sm-pull($columns) {
	@media (min-width: $sm-screen) {
		right: percentage($columns / $cols-per-row);
	}
}
@mixin mk-sm-push($columns) {
	@media (min-width: $sm-screen) {
		left: percentage($columns / $cols-per-row);
	}
}
@mixin mk-sm-offset($columns) {
	@media (min-width: $sm-screen) {
		margin-left: percentage($columns / $cols-per-row);
	}
}
@mixin mk-sm-suffix($columns) {
	@media (min-width: $sm-screen) {
		margin-right: percentage($columns / $cols-per-row);
	}
}

@mixin mk-md-col($columns) {
	@extend %cols;
	@media (min-width: $md-screen) {
		width: percentage($columns / $cols-per-row);
	}
}
@mixin mk-md-pull($columns) {
	@media (min-width: $md-screen) {
		right: percentage($columns / $cols-per-row);
	}
}
@mixin mk-md-push($columns) {
	@media (min-width: $md-screen) {
		left: percentage($columns / $cols-per-row);
	}
}
@mixin mk-md-offset($columns) {
	@media (min-width: $md-screen) {
		margin-left: percentage($columns / $cols-per-row);
	}
}
@mixin mk-md-suffix($columns) {
	@media (min-width: $md-screen) {
		margin-right: percentage($columns / $cols-per-row);
	}
}

@mixin mk-lg-col($columns) {
	@extend %cols;
	@media (min-width: $lg-screen) {
		width: percentage($columns / $cols-per-row);
	}
}
@mixin mk-lg-pull($columns) {
	@media (min-width: $lg-screen) {
		right: percentage($columns / $cols-per-row);
	}
}
@mixin mk-lg-push($columns) {
	@media (min-width: $lg-screen) {
		left: percentage($columns / $cols-per-row);
	}
}
@mixin mk-lg-offset($columns) {
	@media (min-width: $lg-screen) {
		margin-left: percentage($columns / $cols-per-row);
	}
}
@mixin mk-lg-suffix($columns) {
	@media (min-width: $lg-screen) {
		margin-right: percentage($columns / $cols-per-row);
	}
}

/* 4. - Hide Mixins
————————————————————————————————————————————— */

@mixin xs-hide {
	@media (max-width: $sm-screen) {
		display: none;
	}
}
@mixin sm-hide {
	@media (min-width: $sm-screen) and (max-width: $md-screen) {
		display: none;
	}
}
@mixin md-hide {
	@media (min-width: $md-screen) and (min-width: $lg-screen) {
		display: none;
	}
}
@mixin lg-hide {
	@media (min-width: $lg-screen) {
		display: none;
	}
}
.el-xs-hide {
	@include xs-hide();
}
.el-sm-hide {
	@include xs-hide();
}
.el-md-hide {
	@include xs-hide();
}
.el-lg-hide {
	@include xs-hide();
}

/* 5. - Grid classes
————————————————————————————————————————————— */
@for $i from 1 through $cols-per-row {
	.el-#{$i} {
  		@include mk-xs-col(12);
		@include mk-sm-col(12);
		@include mk-md-col($i);
		@include mk-lg-col($i);
	}
	.el-xs-#{$i} {@include mk-xs-col($i);}
}
@for $i from 0 through $cols-per-row {
	.el-xs-pull-#{$i} {
		@include mk-xs-pull($i);
	}
	.el-xs-push-#{$i} {
		@include mk-xs-push($i);
	}
	.el-xs-offset-#{$i} {
		@include mk-xs-offset($i);
	}
	.el-xs-suffix-#{$i} {
		@include mk-xs-suffix($i);
	}
}

@for $i from 1 through $cols-per-row {
	.el-sm-#{$i} {@include mk-sm-col($i);}
}
@for $i from 0 through $cols-per-row {
	.el-sm-pull-#{$i} {
		@include mk-sm-pull($i);
	}
	.el-sm-push-#{$i} {
		@include mk-sm-push($i);
	}
	.el-sm-offset-#{$i} {
		@include mk-sm-offset($i);
	}
	.el-sm-suffix-#{$i} {
		@include mk-sm-suffix($i);
	}
}

@for $i from 1 through $cols-per-row {
	.el-md-#{$i} {@include mk-md-col($i);}
}
@for $i from 0 through $cols-per-row {
	.el-md-pull-#{$i} {
		@include mk-md-pull($i);
	}
	.el-md-push-#{$i} {
		@include mk-md-push($i);
	}
	.el-md-offset-#{$i} {
		@include mk-md-offset($i);
	}
	.el-md-suffix-#{$i} {
		@include mk-md-suffix($i);
	}
}

@for $i from 1 through $cols-per-row {
	.el-lg-#{$i} {@include mk-lg-col($i);}
}
@for $i from 0 through $cols-per-row {
	.el-lg-pull-#{$i} {
		@include mk-lg-pull($i);
	}
	.el-lg-push-#{$i} {
		@include mk-lg-push($i);
	}
	.el-lg-offset-#{$i} {
		@include mk-lg-offset($i);
	}
	.el-lg-suffix-#{$i} {
		@include mk-lg-suffix($i);
	}
}

/* 5. - Grid classes
————————————————————————————————————————————— */

.p-0 {padding: 0 !important;}
.m-0 {margin: 0 !important;}
.m-t-0 {margin-top: 0 !important;}

#banner {
	.logo { @include mk-xs-col(4); }
	.menu-block { .logo { @include mk-xs-col(8); } }
}
@media (min-width: $sm-screen) {
	.text-sm-center { text-align: center; }
	.text-sm-left { text-align: left; }
	.text-sm-right { text-align: right; }
}
@media (min-width: $md-screen) {
	.text-md-center { text-align: center; }
	.text-md-left { text-align: left; }
	.text-md-right { text-align: right; }
}
@media (min-width: $lg-screen) {
	.text-lg-center { text-align: center; }
	.text-lg-left { text-align: left; }
	.text-lg-right { text-align: right; }
}