/* General */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* Contact forms */
#clever_contact_forms_html,
#clever_contact_forms_body {
	height: 200px;
	width: 100%;
}
.contactshortcodes {
	width: 267px;
}
#shortcode {
	background: #fff;
	border: none;
	box-shadow: none;
	font-weight: bold;
}
.table-container {
	overflow: auto;
}

/* Slider */
#add-images {
	display: block;
	margin: 15px auto;
}
#slides {
	padding: 20px 0;
}
#slides .slide {
	border: 1px solid #eee;
	float: left;
	margin-right: 20px;
	padding: 20px;
	position: relative;
	width: 275px;
}
#slides .slide input,
#slides .slide textarea {
	margin-bottom: 5px;
	width: 100%;
}
#slides .slide textarea {
	height: 80px;
	resize: vertical;
}
.image-action {
	background-color: #eee;
	-webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px #eee;
	box-shadow: 0 0 0 1px #fff,0 0 0 2px #eee;
	color: inherit;
	display: block;
	height: 20px;
	outline: 0;
	position: absolute;
	text-decoration: none;
	width: 20px;
	z-index: 10;
}
.image-action:hover {
	color: #000;
}
.sort-image {
	cursor: move;
	left: -5px;
	top: -5px;
}
.delete-image {
	right: -5px;
	top: -5px;
}
#social-options .sort-social { cursor: move; }